{% extends 'base.html' %}
{% load static %}
{% block content %}


<header class="masthead bg-primary text-dark text-center">
    <h1 style="font-size: 3em;">About Me</h1>
</header>

<div class="container col-5">
    <img src="{% static 'assets/lindsay.png' %}"style="width=100%"/>
</div>
<div class="container d-flex align-items-center flex-column">
    <p>Hi, I'm Lindsay, the face behind Gather + Munch. I'm a recipe developer, food photographer, and sourdough enthusiast.</p>
    <br>
    <p>I create impressive yet simple recipes that are made for sharing. 
    </p>
    <br>
    <p>Whether you're splitting a pasta dish for two, bringing a salad to your grandma's, or sharing a loaf of bread with your new neighbors, the best part about food is the people you share it with.  </p>
</div>
<br><br>
<br><br>
<br><br>

{% endblock %}